In [1]:
import numpy as np
import pandas as pd

In [2]:
# creating a pandas series from a simple list

In [3]:
sci_consts = [ 3.14, 2.718, 6.69, 2.999 ]

In [4]:
type(sci_consts)

list

In [5]:
mysr = pd.Series(sci_consts)

In [6]:
mysr

0    3.140
1    2.718
2    6.690
3    2.999
dtype: float64

In [7]:
digits = [0,1,2,3,4,5,6,7,8,9]

In [8]:
pd.Series(digits)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [9]:
# strings are considred as objects
# even if one string present in list then whole list considered as object

In [10]:
names = ["Hari","Manu","Abin"]

In [11]:
pd.Series(names)

0    Hari
1    Manu
2    Abin
dtype: object

In [12]:
 # peresence of one float causes internal conversion to float

In [13]:
mix1 = [0, 2, 3.23] # dtype: float64

In [58]:
pd.Series(mix1) # by default the indexes will start from zero to n-1

0    0.00
1    2.00
2    3.23
dtype: float64

In [15]:
mix2 = [1,2,"hi"] # dtype: object

In [16]:
pd.Series(mix2)

0     1
1     2
2    hi
dtype: object

In [17]:
# creating an array of random numbers in range [0,1)

In [18]:
random_nums = np.random.rand(15)

In [19]:
random_nums

array([0.42545669, 0.45166923, 0.61018667, 0.10447632, 0.0364281 ,
       0.81598937, 0.74297055, 0.78213366, 0.55061757, 0.14765814,
       0.08287854, 0.83198347, 0.5534427 , 0.21637074, 0.92322415])

In [20]:
rand_series = pd.Series(random_nums)

In [21]:
rand_series

0     0.425457
1     0.451669
2     0.610187
3     0.104476
4     0.036428
5     0.815989
6     0.742971
7     0.782134
8     0.550618
9     0.147658
10    0.082879
11    0.831983
12    0.553443
13    0.216371
14    0.923224
dtype: float64

In [22]:
type(rand_series)

pandas.core.series.Series

In [23]:
myarr = np.arange(1,30+1).reshape(6,5) # an array having 1 to 30 numbers

In [24]:
myarr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]])

In [25]:
myarr.size

30

In [26]:
myarr.shape

(6, 5)

In [27]:
mydf = pd.DataFrame(myarr, index = range(6))

In [28]:
mydf

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25
5  26  27  28  29  30

In [29]:
np.linspace(0.1,1,10)

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [30]:
"""index = np.linspace(0.1,0.5,5)"""

'index = np.linspace(0.1,0.5,5)'

In [31]:
testdf = pd.DataFrame(np.empty((9,5),dtype=int), index = np.linspace(0.2, 1.8, 9))

In [32]:
testdf.columns = ("A","B","C","D","E") # changing the index of the columns

In [33]:
testdf

,A,B,C,D,E
0.2,94465198673273,0,139688389938736,139688389740272,139688367947568
0.4,139688367828096,139688389154544,139688367947712,139688389335152,139688389161328
0.6,139688368013424,139688368013616,139688368013872,139688368014064,139688368001536
0.8,139688389465200,139688390116848,139688368014384,139688368014448,139688378995952
1.0,139688368014640,139688368014704,139688368014960,139688368015040,139688389153776
1.2,139688389159920,139688389153840,139688389153904,139688389153968,139688389153712
1.4,139688388844016,139688388432880,139688389149872,139688389462000,139688389116080
1.6,139688388218800,139688388913200,139688367127472,139688389739440,139688389735280
1.8,139688389589040,139688389161008,139688389473200,139688389162544,368

In [34]:
# Acessing the values

In [35]:
testdf['A'][0.4]

139688367828096

In [56]:
testdf.T # taking transpose of the dataframe

,0.2,0.4,0.6,0.8,1.0,1.2,1.4,1.6,1.8
A,94465198673273,139688367828096,139688368013424,139688389465200,139688368014640,139688389159920,139688388844016,139688388218800,139688389589040
B,0,139688389154544,139688368013616,139688390116848,139688368014704,139688389153840,139688388432880,139688388913200,139688389161008
C,139688389938736,139688367947712,139688368013872,139688368014384,139688368014960,139688389153904,139688389149872,139688367127472,139688389473200
D,139688389740272,139688389335152,139688368014064,139688368014448,139688368015040,139688389153968,139688389462000,139688389739440,139688389162544
E,139688367947568,139688389161328,139688368001536,139688378995952,139688389153776,139688389153712,139688389116080,139688389735280,368

In [36]:
newdf = pd.DataFrame(np.random.rand(300,6),index = np.arange(300))

In [37]:
newdf

            0         1         2         3         4         5
0    0.435391  0.534140  0.306042  0.123075  0.605026  0.164266
1    0.589695  0.109536  0.608898  0.576737  0.628604  0.445131
2    0.332013  0.022036  0.658656  0.164547  0.249433  0.843319
3    0.958502  0.931546  0.154910  0.191366  0.681782  0.287797
4    0.396120  0.977247  0.316857  0.744463  0.789703  0.111381
..        ...       ...       ...       ...       ...       ...
295  0.944504  0.537997  0.996802  0.278580  0.391425  0.968639
296  0.044322  0.532762  0.440676  0.764175  0.866331  0.494827
297  0.527950  0.707747  0.592214  0.721241  0.639799  0.885851
298  0.270797  0.010761  0.736861  0.053896  0.923244  0.348800
299  0.947965  0.214737  0.510790  0.079962  0.824345  0.635146

[300 rows x 6 columns]

In [38]:
type(newdf)

pandas.core.frame.DataFrame

In [39]:
newdf.describe()

                0           1           2           3           4           5
count  300.000000  300.000000  300.000000  300.000000  300.000000  300.000000
mean     0.517901    0.504486    0.474885    0.514452    0.509285    0.476969
std      0.289739    0.277474    0.282305    0.281499    0.291276    0.300821
min      0.000143    0.001836    0.003561    0.007166    0.003533    0.004308
25%      0.276166    0.271583    0.229990    0.268329    0.261182    0.192547
50%      0.534229    0.489938    0.442896    0.516380    0.495795    0.464462
75%      0.763761    0.737499    0.719805    0.757362    0.776028    0.753479
max      0.995190    0.996545    0.996802    0.998704    0.997106    0.989472

In [40]:
newdf.head(8)

          0         1         2         3         4         5
0  0.435391  0.534140  0.306042  0.123075  0.605026  0.164266
1  0.589695  0.109536  0.608898  0.576737  0.628604  0.445131
2  0.332013  0.022036  0.658656  0.164547  0.249433  0.843319
3  0.958502  0.931546  0.154910  0.191366  0.681782  0.287797
4  0.396120  0.977247  0.316857  0.744463  0.789703  0.111381
5  0.805962  0.484088  0.133921  0.176349  0.234873  0.412856
6  0.854049  0.561037  0.185133  0.981135  0.915203  0.114975
7  0.184906  0.367437  0.191969  0.904031  0.735010  0.056900

In [41]:
newdf.tail(8)

            0         1         2         3         4         5
292  0.841553  0.100753  0.429864  0.424920  0.246719  0.308121
293  0.164424  0.787307  0.636119  0.731136  0.020173  0.612445
294  0.848483  0.261390  0.948646  0.712524  0.547764  0.528776
295  0.944504  0.537997  0.996802  0.278580  0.391425  0.968639
296  0.044322  0.532762  0.440676  0.764175  0.866331  0.494827
297  0.527950  0.707747  0.592214  0.721241  0.639799  0.885851
298  0.270797  0.010761  0.736861  0.053896  0.923244  0.348800
299  0.947965  0.214737  0.510790  0.079962  0.824345  0.635146

In [42]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [43]:
newdf[5][115]

0.17779395104339057

In [44]:
# mutating the data-frame, raises a warning though
newdf[5][3] = "Hii"
newdf[1][1] = "Tq"

/tmp/ipykernel_14062/732091781.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[1][1] = "Tq"

In [45]:
newdf

            0         1         2         3         4         5
0    0.435391   0.53414  0.306042  0.123075  0.605026  0.164266
1    0.589695        Tq  0.608898  0.576737  0.628604  0.445131
2    0.332013  0.022036  0.658656  0.164547  0.249433  0.843319
3    0.958502  0.931546  0.154910  0.191366  0.681782       Hii
4    0.396120  0.977247  0.316857  0.744463  0.789703  0.111381
..        ...       ...       ...       ...       ...       ...
295  0.944504  0.537997  0.996802  0.278580  0.391425  0.968639
296  0.044322  0.532762  0.440676  0.764175  0.866331  0.494827
297  0.527950  0.707747  0.592214  0.721241  0.639799  0.885851
298  0.270797  0.010761  0.736861  0.053896  0.923244    0.3488
299  0.947965  0.214737  0.510790  0.079962  0.824345  0.635146

[300 rows x 6 columns]

In [46]:
newdf.dtypes

0    float64
1     object
2    float64
3    float64
4    float64
5     object
dtype: object

In [48]:
newdf.columns

RangeIndex(start=0, stop=6, step=1)

In [52]:
myarr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]])

In [51]:
myarr.T # taking transpose of an array

array([[ 1,  6, 11, 16, 21, 26],
       [ 2,  7, 12, 17, 22, 27],
       [ 3,  8, 13, 18, 23, 28],
       [ 4,  9, 14, 19, 24, 29],
       [ 5, 10, 15, 20, 25, 30]])