In [1]:
import numpy as np
import pandas as pd

In [2]:
# creating a pandas series from a simple list

In [3]:
sci_consts = [ 3.14, 2.718, 6.69, 2.999 ]

In [4]:
type(sci_consts)

list

In [5]:
mysr = pd.Series(sci_consts)

In [6]:
mysr

0    3.140
1    2.718
2    6.690
3    2.999
dtype: float64

In [7]:
digits = [0,1,2,3,4,5,6,7,8,9]

In [8]:
pd.Series(digits)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [9]:
# strings are considred as objects
# even if one string present in list then whole list considered as object

In [10]:
names = ["Hari","Manu","Abin"]

In [11]:
pd.Series(names)

0    Hari
1    Manu
2    Abin
dtype: object

In [12]:
 # perecence of one float causes internal conversion to float

In [13]:
mix1 = [0, 2, 3.23] # dtype: float64

In [14]:
pd.Series(mix1)

0    0.00
1    2.00
2    3.23
dtype: float64

In [15]:
mix2 = [1,2,"hi"] # dtype: object

In [16]:
pd.Series(mix2)

0     1
1     2
2    hi
dtype: object

In [17]:
# creating an array of random numbers in range [0,1)

In [18]:
random_nums = np.random.rand(15)

In [19]:
random_nums

array([0.76425299, 0.04227508, 0.54646251, 0.91688959, 0.46218801,
       0.59481928, 0.80855921, 0.45445426, 0.74993513, 0.99627706,
       0.20765659, 0.46776876, 0.99042789, 0.82720784, 0.60379338])

In [20]:
r_series = pd.Series(random_nums)

In [21]:
r_series

0     0.764253
1     0.042275
2     0.546463
3     0.916890
4     0.462188
5     0.594819
6     0.808559
7     0.454454
8     0.749935
9     0.996277
10    0.207657
11    0.467769
12    0.990428
13    0.827208
14    0.603793
dtype: float64

In [22]:
type(r_series)

pandas.core.series.Series

In [23]:
myarr = np.arange(1,30+1).reshape(6,5)

In [24]:
myarr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25],
       [26, 27, 28, 29, 30]])

In [25]:
myarr.size

30

In [26]:
myarr.shape

(6, 5)

In [27]:
mydf = pd.DataFrame(myarr ,index = range(6)) # or also, index = range(6) will do

In [28]:
mydf

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15
3  16  17  18  19  20
4  21  22  23  24  25
5  26  27  28  29  30

In [29]:
np.linspace(0.1,1,10)

array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ])

In [30]:
"""index = np.linspace(0.1,0.5,5)"""

'index = np.linspace(0.1,0.5,5)'

In [31]:
testdf = pd.DataFrame(np.empty((9,5),dtype=int), index = np.linspace(0.2, 1.8, 9))

In [32]:
testdf.columns = ("A","B","C","D","E") # changing the index of the columns

In [33]:
testdf

,A,B,C,D,E
0.2,94825834606656,0,7596482351528965216,4332498163879013230,3400000511170344040
0.4,8083525243310596464,8245860438837912697,8314036812346568551,8391102703357355053,7310315466577961569
0.6,3415246296534441842,7598247067624761716,2552535435543737189,7002380974707598959,6935107355761797484
0.8,2314885435961007967,7308339910404490528,3255293428008749683,2308707431035514157,8079526168553857056
1.0,7306076016096849508,7453001577199137900,4428290096503138405,3181645120959164711,8314893310714277920
1.2,2314885530449949757,8389191687757195604,6568632433391847777,2842749248999534887,8746382040773369900
1.4,7214822846184040307,3758007788076497249,3196754687414068256,2314885530818453514,2314885530818453536
1.6,8104636977814446112,7234308676128292197,7952006975220640869,7310017433541500275,723435938770271601
1.8,2334386692386988064,7234315298837586016,7881706585693642848,7309468778417714277,8583987767403768163

In [34]:
# Acessing the values

In [35]:
testdf['A'][0.4]

8083525243310596464

In [36]:
newdf = pd.DataFrame(np.random.rand(300,6),index = np.arange(300))

In [37]:
newdf

            0         1         2         3         4         5
0    0.542852  0.302081  0.461033  0.212910  0.685985  0.901183
1    0.031905  0.708537  0.621902  0.455636  0.821668  0.712625
2    0.089212  0.916271  0.582801  0.543488  0.614283  0.767441
3    0.534970  0.004584  0.420170  0.670182  0.519374  0.124350
4    0.145144  0.696913  0.933423  0.362984  0.728647  0.166713
..        ...       ...       ...       ...       ...       ...
295  0.807092  0.730131  0.002979  0.154867  0.776241  0.116238
296  0.155191  0.857200  0.146372  0.543077  0.640962  0.300089
297  0.607727  0.657847  0.194611  0.551244  0.531439  0.234583
298  0.057981  0.019169  0.202191  0.508309  0.544723  0.329895
299  0.030219  0.927459  0.683445  0.475373  0.093970  0.959105

[300 rows x 6 columns]

In [38]:
type(newdf)

pandas.core.frame.DataFrame

In [39]:
newdf.describe()

                0           1           2           3           4           5
count  300.000000  300.000000  300.000000  300.000000  300.000000  300.000000
mean     0.477206    0.505126    0.498681    0.481203    0.476759    0.511846
std      0.292059    0.284066    0.293433    0.288972    0.284783    0.296013
min      0.000495    0.004584    0.002979    0.000737    0.001558    0.001580
25%      0.217116    0.279958    0.244380    0.231015    0.242924    0.258612
50%      0.448490    0.505488    0.501158    0.464051    0.473624    0.525811
75%      0.742965    0.750740    0.751816    0.751178    0.722202    0.771000
max      0.998692    0.990856    0.997748    0.995081    0.994625    0.997613

In [40]:
newdf.head(8)

          0         1         2         3         4         5
0  0.542852  0.302081  0.461033  0.212910  0.685985  0.901183
1  0.031905  0.708537  0.621902  0.455636  0.821668  0.712625
2  0.089212  0.916271  0.582801  0.543488  0.614283  0.767441
3  0.534970  0.004584  0.420170  0.670182  0.519374  0.124350
4  0.145144  0.696913  0.933423  0.362984  0.728647  0.166713
5  0.070448  0.315813  0.509882  0.993515  0.246582  0.596450
6  0.125197  0.420289  0.315196  0.490520  0.880686  0.729361
7  0.636845  0.352511  0.047024  0.698556  0.953765  0.651883

In [41]:
newdf.tail(8)

            0         1         2         3         4         5
292  0.927081  0.099309  0.745494  0.054713  0.649648  0.267233
293  0.711462  0.950505  0.285379  0.382816  0.718407  0.034530
294  0.333234  0.761091  0.355216  0.817844  0.532133  0.638723
295  0.807092  0.730131  0.002979  0.154867  0.776241  0.116238
296  0.155191  0.857200  0.146372  0.543077  0.640962  0.300089
297  0.607727  0.657847  0.194611  0.551244  0.531439  0.234583
298  0.057981  0.019169  0.202191  0.508309  0.544723  0.329895
299  0.030219  0.927459  0.683445  0.475373  0.093970  0.959105

In [42]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
dtype: object

In [43]:
newdf[5][115] #

0.2428458499674636

In [50]:
# mutating the data-frame, raises a warning though
newdf[5][3] = "Hii"
newdf[1][1] = "Tq"

In [51]:
newdf

            0         1         2         3         4         5
0    0.542852  0.302081  0.461033  0.212910  0.685985  0.901183
1    0.031905        Tq  0.621902  0.455636  0.821668  0.712625
2    0.089212  0.916271  0.582801  0.543488  0.614283  0.767441
3    0.534970  0.004584  0.420170  0.670182  0.519374       Hii
4    0.145144  0.696913  0.933423  0.362984  0.728647  0.166713
..        ...       ...       ...       ...       ...       ...
295  0.807092  0.730131  0.002979  0.154867  0.776241  0.116238
296  0.155191    0.8572  0.146372  0.543077  0.640962  0.300089
297  0.607727  0.657847  0.194611  0.551244  0.531439  0.234583
298  0.057981  0.019169  0.202191  0.508309  0.544723  0.329895
299  0.030219  0.927459  0.683445  0.475373  0.093970  0.959105

[300 rows x 6 columns]

In [48]:
newdf.dtypes

0    float64
1     object
2    float64
3    float64
4    float64
5     object
dtype: object